<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="consoleAppender" class="LoggerAppenderConsole" />
    <appender name="fileAppender" class="LoggerAppenderFile">
        <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date{Y-m-d H:i:s} %logger [%level]: %message%newline%ex" />
        </layout>
        <param name="file" value="logs/application.log" />
    </appender>
    <root>
        <level value="INFO" />
        <appender_ref ref="fileAppender" />
        <appender_ref ref="consoleAppender" />
    </root>
</configuration>
